<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>New Event</title>

</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <form role="form" method="post" th:action="@{/event/create}" th:object="${event}">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="title">Title</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                th:field="*{name}"
                                placeholder="Title">
<!--                        <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>-->
                    </div>
                    <div class="form-group col-md-6">
                        <label for="description">Description</label>
                        <input
                                type="text"
                                class="form-control"
                                id="description"
                                name="description"
                                th:field="*{description}"
                                placeholder="Description">
                        <!--                        <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>-->
                    </div>
                    <div class="form-group col-md-6">
                        <label for="photoUrl">Photo Url</label>
                        <input
                                type="text"
                                class="form-control"
                                id="photoUrl"
                                name="photoUrl"
                                th:field="*{photoUrl}"
                                placeholder="Photo Url">
<!--                        <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>-->
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dateTime">Date</label>
                        <input
                                type="datetime-local"
                                class="form-control"
                                id="dateTime"
                                name="dateTime"
                                th:field="*{dateTime}">
                        <!--                        <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>-->
                    </div>
                    <div class="form-group col-md-6">
                        <label for="maxAttendees">Max Attendees</label>
                        <input
                                type="number"
                                class="form-control"
                                id="maxAttendees"
                                name="maxAttendees"
                                th:field="*{maxAttendees}"
                                placeholder="Max Attendees">
                        <!--                        <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>-->
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Create</button>
            </form>
        </div>
    </section>

</main>
</body>
</html>