<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Event Details</title>

</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section >
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="my-5 mx-5">
                        <div th:if="${param.success}" class="alert alert-success">
                            Success!
                        </div>
                        <h1 class="fw-bolder text-break" th:text="${event.name}"></h1>
                    </div>
                </div>
                <div class="col-lg-8">
                    <!-- Event Details-->
                    <div class="card mb-4">
<!--                        <a href="#!"><img class="card-img-top" th:src="${event.photoUrl}" alt="..." /></a>-->
                        <img class="card-img-top w-auto mx-4 my-3" th:if="${event.photoUrl != null}" th:src="${event.photoUrl}" />
                        <img class="card-img-top w-50 mx-auto" th:if="${#strings.isEmpty(event.photoUrl)}" src="https://th.bing.com/th/id/R.bc37f4dfb38a528d07d37c1e471756b8?rik=HGzkv4tavCSpzA&pid=ImgRaw&r=0" />

                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h2 class="card-title">About this Event</h2>
                                <div>
                                    <div class="small text-muted" th:text="'Event date: ' + ${event.dateTime.toLocalDate()} + ' : ' + ${event.dateTime.toLocalTime()}"></div>
                                    <div class="small text-muted" th:text="'Attendees: ' + ${event.currentAttendees} + '/' + ${event.maxAttendees}"></div>
                                </div>
                            </div>
                            <hr/>
                            <p class="card-text" th:text="${event.description}"></p>
                        </div>
                    </div>
                    <!-- Nested row for non-featured blog posts-->
<!--                    <div class="row">-->
<!--                        <div class="col-lg-6">-->
<!--                            &lt;!&ndash; Blog post&ndash;&gt;-->
<!--                            <div th:each="event :${club.events}" class="card mb-4">-->
<!--                                <a href="#!"><img class="card-img-top" th:src="${event.photoUrl}" alt="..." /></a>-->
<!--                                <div class="card-body">-->
<!--                                    <div class="small text-muted">January 1, 2022</div>-->
<!--                                    <h2 th:text="${event.name}"class="card-title h4"></h2>-->
<!--                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>-->
<!--                                    <a class="btn btn-primary" th:href="@{/events/{eventId}(eventId=${event.id})}">More</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Blog post&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Creator widget-->
                    <div class="card mb-4">
                        <div class="card-body d-flex justify-content-start align-items-center">
                            <img th:if="${event.creator.photoUrl} == null" src="https://th.bing.com/th/id/OIP.YCGQ25lthu82-vALQSw9gwHaHa?pid=ImgDet&rs=1"
                                     class="rounded-circle card-text" style="width: 15%;" />
                            <img th:if="${event.creator.photoUrl} != null" th:src="${event.creator.photoUrl}"
                                     class="rounded-circle card-text" style="width: 15%;" />
                            <a class="card-text mx-2 h4 text-decoration-none text-dark" th:href="@{/user/{username}(username=${event.creator.username})}" th:text="'@' + ${event.creator.username}"></a>
                        </div>
                        <div class="card-body small text-muted" th:text="'Creation date: ' + ${event.creationDate.toLocalDate()}"></div>
                    </div>
                    <!-- Action buttons widget-->
                    <div class="card mb-4">
                        <div class="card-header">Actions</div>
                        <div class="d-flex justify-content-around align-items-center">
                            <a th:if="${user.userId} == ${event.creator.userId}" class="btn btn-primary m-2 flex-fill" th:href="@{/event/{id}/edit(id=${event.eventId})}">Edit</a>
                            <a th:if="${user.userId} == ${event.creator.userId}" class="btn btn-danger m-2 flex-fill" th:href="@{/event/{id}/delete(id=${event.eventId})}">Delete</a>
                            <div th:if="${user.userId} != ${event.creator.userId}" class="flex-fill d-flex">
                                <a th:if="not ${isAttended}" class="btn btn-success m-2 flex-fill" th:href="@{/event/{id}/attend(id=${event.eventId})}">Attend to this Event</a>
                                <a th:if="${isAttended}" class="btn btn-warning m-2 flex-fill" th:href="@{/event/{id}/skip(id=${event.eventId})}">Skip this Event</a>
                            </div>
                        </div>
                    </div>
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <form th:action="@{/event/search}" class="input-group">
                                <input name="query" class="form-control" type="search" placeholder="Enter event title..." aria-label="Search"/>
                                <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                            </form>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Road Runner</a></li>
                                        <li><a href="#!">Trail</a></li>
                                        <li><a href="#!">Marathon</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
                <div class="d-flex m-auto w-75">
                    <div class="card bg-light mb-4">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form class="mb-4">
                                <textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            </form>
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When I look at the universe and all the ways the universe wants to kill us, I find it hard to reconcile that with statements of beneficence.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>