<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/styles.css}" rel="stylesheet" />

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Core theme JS-->
    <script th:src="@{/js/scripts.js}"></script>

    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Event Manager</title>
</head>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" th:href="@{/event}">Event Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" th:href="@{/event}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/event/create}">Create Event</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                        <li><a class="dropdown-item" th:href="@{/login}">Log in</a></li>
                        <li><a class="dropdown-item" th:href="@{/register}">Register</a></li>
                        <li><a class="dropdown-item" th:href="@{/logout}">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Body (injection point) -->
<body layout:fragment="body"></body>

<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Event Manager 2023</div></div>
            <div class="col-auto">
                <a class="link-light small" th:href="@{/about}">Contact</a>
            </div>
        </div>
    </div>
</footer>
</html>