<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Event List</title>

</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section class="py-2">
        <div class="container px-3 my-5">
            <div class="text-center mb-3">
                <h1 class="fw-bolder">Find your Event</h1>
            </div>
            <form th:action="@{/event/search}" class="input-group">
                <input name="query" class="form-control" type="search" placeholder="Enter event title..." aria-label="Search"/>
                <button class="btn btn-primary" id="button-search" type="submit">Search</button>
            </form>
            <div class="row gx-5">
                <div th:each="event :${events}" class="card col-lg-6 d-flex align-items-center m-3" style="width: 47.5%;">
                    <div class="position-relative mt-5">
                        <img class="img-fluid rounded-3 mb-3" th:if="${event.photoUrl != null}" th:src="${event.photoUrl}" />
                        <img class="img-fluid rounded-3 mb-3 w-75 my-auto" th:if="${#strings.isEmpty(event.photoUrl)}" src="https://th.bing.com/th/id/R.bc37f4dfb38a528d07d37c1e471756b8?rik=HGzkv4tavCSpzA&pid=ImgRaw&r=0" />
                        <div class="d-flex justify-content-between align-items-center">
                            <a th:text="${event.name}" class="h3 fw-bolder text-decoration-none link-dark stretched-link text-break w-75" th:href="@{/event/{id}(id=${event.eventId})}"></a>
                            <div th:text="'Attendees: ' + ${event.currentAttendees} + '/' + ${event.maxAttendees}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>