<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Event List</title>

</head>
<body layout:fragment="body" class="d-flex flex-column h-100">
<main class="flex-shrink-0">

    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Events</h1>
            </div>
            <div class="row gx-5">
                <div th:each="event :${events}" class="col-lg-6 d-flex align-items-end">
                    <div class="position-relative mb-5">
                        <img class="img-fluid rounded-3 mb-3" th:src="${event.photoUrl}" alt="No Image"/>
                        <br>
                        <div class="d-flex justify-content-between align-items-center">
                            <a th:text="${event.name}" class="h3 fw-bolder text-decoration-none link-dark stretched-link" href="#!"></a>
                            <div th:text="'Attendees: ' + ${event.currentAttendees} + '/' + ${event.maxAttendees}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
</body>
</html>